.weather-day {
  text-align: center;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.weather-day h5 {
  margin: 10px;
}

.weather-day img {
  width: 40%;
}

.weather-day span {
  color: gray;
  font-size: 0.9em;
}

.max-min {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  /* Extra small devices (phones, 600px and down) */
  .weather-day {
    text-align: center;
    border-radius: 5px;
    padding: 1px;
    background: white;
  }
}
